/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	box-sizing: border-box;
	}
	
.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 960px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Source Serif Pro', serif;
  color: #222; }

img {
	max-width: 100%;
	margin-bottom: 1rem;
	}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  font-weight: bold; }
h1 { font-size: 3.0rem; line-height: 1.2; }
h2 { font-size: 2.6rem; line-height: 1.25; letter-spacing: .1rem; }
h3 { font-size: 2.0rem; line-height: 1.3; margin-bottom: 1rem; }
h4 { font-size: 1.8rem; line-height: 1.35; margin-bottom: 1rem; }
h5 { font-size: 1.6rem; line-height: 1.5; margin-bottom: 1rem; color: #f04d22; }
h6 { font-size: 1.4rem; line-height: 1.6; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 1rem; }

blockquote {
	position: relative;
	padding: 2rem 2rem 2rem 3rem;
	margin: 0;
	font-size: 1.7rem;
	text-align: left;
	border: 1px solid #e8ecf0;
	color: #878184;
	font-style: italic;
	}
	
blockquote:before {
	position: absolute;
	top: 0;
	left: -1rem;
	font-size: 5rem;
	content: "“";
	font-family: Georgia, serif;
	color: #f04d22;
	}

p {
  margin-top: 0; }

.center-text {
	text-align: center;
	}
	
.blue {
	color: #006c83;
	}
	
.orange {
	color: #f04d22;
	}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #006c83; 
	}
	
a:hover {
	color: #f04d22; 
	}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; 
  text-decoration: none;}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

.button.large {
	font-size: 1.6rem;
	padding: 4px 30px;
	height: auto;
	}

.button.blue {
	background: #006c83;
	color: #fff;
	border: 1px solid #006c83;
	}
	
.button.orange {
	background: #f04d22;
	color: #fff;
	border: 1px solid #f04d22;
	}
	
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #f04d22;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1.8rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
	border-width: 0;
	border-top: 1px solid #E1E1E1; 
	}
	
.overlay {
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.row {
	margin: 0;
	}
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a#logo {
	display: inline-block;
	position: relative;
	top: 30px;
	}
	
#search {
	display: block;
    overflow: hidden;
    width: 300px;
    position: absolute;
    top: 50px;
    right: 10%;
	}
	
.searchbox{
	position:relative;
	min-width:50px;
	width:0%;
	height:50px;
	float:right;
	overflow:hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-ms-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
	}

.searchbox-input{
	top:0;
	right:0;
	border:0;
	outline:0;
	background:#dcddd8;
	width:100%;
	height:50px;
	margin:0;
	padding:0px 55px 0px 20px;
	font-size:20px;
	color:#222;
	}
	
.searchbox-input::-webkit-input-placeholder {
	color: #d74b4b;
	}
	
.searchbox-input:-moz-placeholder {
	color: #d74b4b;
	}
	
.searchbox-input::-moz-placeholder {
	color: #d74b4b;
	}
	
.searchbox-input:-ms-input-placeholder {
	color: #d74b4b;
	}

.searchbox-icon,
.searchbox-submit{
	width:50px;
	height:50px;
	display:block;
	position:absolute;
	top:0;
	font-size: 1.1em;
	right:0;
	padding:0;
	margin:0;
	border:0;
	outline:0;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	color:#a0977a;
	background:#fff;
	z-index: 9;
	}
	
.searchbox-open .searchbox-icon,
.searchbox-open .searchbox-submit {
	background: #222;
	}
	
.searchbox-open{
	width:100%;
	}
	
/* Module Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.module {
	padding: 3rem 0;	
	}
	
.full-width {
	padding: 50px 0 25px 0;
	margin: 50px 0;
	}
	
.full-width.grey {
	background: #f0f1f3;
	}
	
.circle {
	border-radius: 50%;
	margin-bottom: 1rem;
	}
	
.title.left {
	text-align: left;
	}
	
.title.right {
	text-align: right;
	}
	
.title.center {
	text-align: center;
	}
	
/* Featured Items
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.module.featured-items {
	padding: 0;
	margin: 0 0 2rem 0;
	background: #f0f1f3;
	}
	
.featured-items .row.blue {
	background: #006c83;
	}
	
.featured-items .row.orange {
	background: #f04d22;
	}
	
.featured-items .main-item {
	position: relative;
	}
	
.featured-items .main-item .item-content {
	position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
	color: #fff;
	}
	
.featured-items .item-container {
	float: left;
	width: 34.6666666667%;
	height: 418px;
	}
	
	@media (max-width: 960px) {
		.featured-items .item-container {
			width: 100%;
			}
		}
	
.featured-items .item {
	display: table;
	height: 25%;
	width: 100%;
	padding: 0 6.6%;
	text-decoration: none;
	}
	
	@media (max-width: 960px) {
		.featured-items .item {
			width: 100%;
			padding: 0 2%;
			}
		}
		
.featured-items .item:hover {
	opacity: 0.8;
	}
	
.featured-items .row.blue .item {
	background: rgb(38,130,149);
	background: -moz-linear-gradient(top,  rgba(38,130,149,1) 0%, rgba(1,93,112,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(38,130,149,1) 0%,rgba(1,93,112,1) 100%);
	background: linear-gradient(to bottom,  rgba(38,130,149,1) 0%,rgba(1,93,112,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268295', endColorstr='#015d70',GradientType=0 );
	}
	
.featured-items .row.orange .item {
	background: rgb(241,103,66);
	background: -moz-linear-gradient(top,  rgba(241,103,66,1) 0%, rgba(240,77,34,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(241,103,66,1) 0%,rgba(240,77,34,1) 100%);
	background: linear-gradient(to bottom,  rgba(241,103,66,1) 0%,rgba(240,77,34,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16742', endColorstr='#f04d22',GradientType=0 );
	}
	
.featured-items .item .item-content {
	display: table-cell;
	vertical-align: middle;
	}
	
.featured-items .item h2 {
	color: #fff;
    font-size: 2rem;
    font-weight: 300;
	}
	
.featured-items span.number {
	font-size: 1.3rem;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	opacity: 0.8;
	}
	
.featured-items span.number:before {
	content: "#";
	}
	
.show-cta {
	background: url('../images/icon-broadcast.png') no-repeat left center;
	background-size: 28px 28px;
	display: block;
	font-family: 'Oswald', sans-serif;
	padding: 5px 0 5px 32px;
	letter-spacing: 3px;
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
	}
	
.archive-cta {
	display: block;
	font-family: 'Oswald', sans-serif;
	padding: 5px 0;
	letter-spacing: 3px;
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
	}
	
.show-cta:hover,
.archive-cta:hover {
	color: #fff;
	opacity: 0.7;
	}
	
/* Hero Area
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
	position: relative;
	color: #fff;
	min-height: 270px;
	margin: 0 0 3rem 0;
	}
	
.hero h1 {
	padding-top: 2rem;
	font-weight: 300;
	}
	
.hero h5 {
	letter-spacing: 4px;
	}
	
.hero p {
	margin-bottom: 1rem;
	}
	
.module.page-header {
	background: #231f20;
	color: #fff;
	position: relative;
	height: 70px;
	padding: 0px;
	margin: 0px 0px 5rem;
	}

.module.page-header h1,
.module.page-header h2 {
    line-height: 95px;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
	}

/* Post Listings
–––––––––––––––––––––––––––––––––––––––––––––––––– */	
	
.post-list .post-item {
	border: 1px solid #e8ecf0;
	box-sizing: border-box;
	}
	
	@media (max-width: 960px) {
		.post-list .post-item {
			width: 48%;
			margin-left: 4%;
			margin-bottom: 3rem;
			}
			
		.post-list .post-item:nth-child(odd) {
			margin-left: 0;
			}
		}
	
.post-list  .post-item-excerpt {
	padding: .3rem 1.4rem 0 1.4rem;
	}
	
.post-item h2 {
	font-size: 1.9rem;
	margin-bottom: 1rem;
	font-weight: 300;
	letter-spacing: 0;
	}
	
.meta-data {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: .7rem;
	color: #bfc0c4;
	}
	
.author {
	color: #f14e23;
	}
	
/* Shows Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.upcoming-show,
.archived-show {
	display: block;
	background: #edeef0;
  	font-family: 'Oswald', sans-serif;
	position: relative;
	}
	
.archived-show:after {
	content: "\f04b";
	font-family: 'FontAwesome';
	position: absolute;
	top: 30%;
	right: 20px;
	}
	
.upcoming-show h4,
.archived-show h4 {
	font-size: 2.1rem;
	padding: .66em 30px .66em 70px;
	}
	
.upcoming-show span.show-date,
.archived-show span.show-date {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    background: #006c83;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 15px;
    line-height: 1.8rem;
	}
	
.archive-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
h3.year {
	font-size: 4rem;
	font-style: italic;
	color: #f04d22;
	}
	
	
/* Videos
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.video {
	position: relative;
	width: 100%;
	}
	
		@media (max-width: 960px) {
			.video {
				text-align: center;
				}
			}
	
a.play {
	height: 52px;
	width: 52px;
	background: #f04d22;
	position: absolute;
	margin: -26px 0 0 -26px;
	top: 50%;
	left: 50%;
	text-align: center;
	}
	
a.play i {
	font-size: 20px;
	color: #fff;
	line-height: 52px;
	}
	
a.play:hover {
	opacity: 0.8;
	}

/* Station/Group Listings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.station-group-filter {
	text-align: center;
	margin-bottom: 5rem;
	}
	
.station-group-filter h2 {
	display: inline;
	}
	
.station-group-filter select {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10px;
	}

.stations-list li,
.groups-list li {
	list-style: none;
	}

.stations-list h4,
.groups-list h4 {
	font-size: 1.8rem;
	margin-bottom: 2.2rem;
	color: #006c83;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 4px 0 4px 30px;
	}
	
.stations-list h4 {
	background: url('../images/icon-shows.png') no-repeat left center;
	}

.groups-list h4 {
	background: url('../images/icon-groups.png') no-repeat left center;
	padding-left: 35px;
	}
	
.stations-list h5,
.groups-list h5 {
	font-size: 1.7rem;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 5px;
	color: #222;
	}
	
.show-time,
.group-location {
	font-size: 1.4rem;
	color: #f04d22;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Oswald', sans-serif;
	}

	
/* Events & Schedule
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.event-date {
	display: block;
	font-size: 1.9rem;
	margin-bottom: 2rem;
	}
	
.schedule {
	margin-bottom: 50px;
	text-align: left;
	background-color: #ffffff;
	}

.schedule h4 {
	color: #006c83;
	}

.schedule h3 {
	color: #222;
	}

.schedule h5 {
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 1px;
	}

.schedule p.date,
.schedule .schedule-item .schedule-item-toggle .time {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2rem;
	color: #bfc0c4;
	margin-top: 5px;
	letter-spacing: 3px;
	font-weight: 300;
	}

.schedule .schedule-item .schedule-item-toggle .time:before {
	content: "\f017";
	font-family: 'FontAwesome';
	padding-right: 3px;
	}

.schedule .tab-content .nav-current {
	background-color: #eff1f5;
	border-color: #e9e9e9;
	}

.nav.nav-schedule {
	display: table;
	width: 100%;
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: #e9e9e9;
	z-index: 10;
	}

.nav.nav-schedule > li {
	-webkit-transition: background 0.2s ease, border 0.2s ease;
	-moz-transition: background 0.2s ease, border 0.2s ease;
	-o-transition: background 0.2s ease, border 0.2s ease;
	transition: background 0.2s ease, border 0.2s ease;
	position: relative;
	display: table-cell;
	font-size: 15px;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: #e9e9e9;
	margin-bottom: 0px;
	}

.nav.nav-schedule > li:after {
	-webkit-transition: opacity 0.15s ease;
	-moz-transition: opacity 0.15s ease;
	-o-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	content: "";
	border-style: solid;
	border-width: 7px 10px 0 10px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	opacity: 0;
	z-index: 1;
	}

.nav.nav-schedule > li > a {
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
	display: block;
	text-decoration: none;
	padding: 20px 15px 12px;
	text-align: center;
	}

.nav.nav-schedule > li > a *:first-child {
	margin-top: 0;
	}

.nav.nav-schedule > li > a *:last-child {
	margin-bottom: 0;
	}

.nav.nav-schedule > li > a:hover,
.nav.nav-schedule > li > a:focus {
	background-color: transparent;
	}

.nav.nav-schedule > li > a h1:first-child,
.nav.nav-schedule > li > a h2:first-child,
.nav.nav-schedule > li > a h3:first-child,
.nav.nav-schedule > li > a h4:first-child,
.nav.nav-schedule > li > a h5:first-child,
.nav.nav-schedule > li > a h6:first-child {
	margin: 0 0 -2px;
	}

.nav.nav-schedule > li.active:after {
	opacity: 1;
	color: #006c83;
	}

.nav.nav-schedule > li.active,
.nav.nav-schedule > li.active:hover,
.nav.nav-schedule > li.active:active {
	cursor: default;
	pointer-events: none;
	}

.nav.nav-schedule > li.active a,
.nav.nav-schedule > li.active a:hover,
.nav.nav-schedule > li.active a:focus,
.nav.nav-schedule > li.active a *,
.nav.nav-schedule > li.active a:hover *,
.nav.nav-schedule > li.active a:focus * {
	color: #ffffff;
	background: #006c83;
	}

.schedule .tab-content {
	padding: 0;
	border-style: solid;
	border-width: 0 1px 1px;
	border-color: transparent #e9e9e9 #e9e9e9;
	}

.schedule .tab-content .img-responsive {
	margin: 0;
	}

.schedule .tab-content .nav.nav-schedule {
	display: inline-block;
	background-color: #eff1f5;
	border: none;
	}

.schedule .tab-content .nav.nav-schedule > li {
	display: inline-block;
	border-width: 0 0 1px;
	}

.schedule .tab-content .nav.nav-schedule > li:not(.active) {
	border-color: transparent;
	}

.schedule .tab-content .nav.nav-schedule > li:after {
	display: none;
	}

.schedule .tab-content .nav.nav-schedule > li > a {
	margin: 0;
	padding: 16px 45px 14px;
	font-weight: 700;
	text-transform: uppercase;
	}

.schedule .tab-content .nav.nav-schedule > li > a:not(:hover):not(:active) {
	color: #51545b;
	}

.schedule .tab-content .nav.nav-schedule > li.active {
	background-color: transparent;
	}

.schedule .tab-content-schedule {
	position: relative;
	border: none;
	padding: 90px 100px 80px 80px;
	}

.schedule .tab-content-schedule:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 104px;
	width: 0;
	display: block;
	content: "";
	border-right: 1px solid #eff1f5;
	}

.schedule .tab-content-schedule .panel-group {
	margin-bottom: 0;
	}

.schedule .tab-content-schedule .schedule-item {
	position: relative;
	margin-bottom: 22px;
	min-height: 65px;
	padding: 0 0 0 104px;
	background-color: transparent;
	}

.schedule .tab-content-schedule .schedule-item:last-child {
	margin-bottom: 0;
	}

.schedule .schedule-item + .schedule-item {
	margin-top: 0;
	}

.schedule .schedule-item .lecture-icon-wrapper {
	position: absolute;
	vertical-align: middle;
	top: 25px;
	left: 4px;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	line-height: 36px;
	background-color: #ffffff;
	border: 1px solid #eee;
	border-radius: 50%;
	overflow: hidden;
	}

.schedule .schedule-item .schedule-item-toggle {
	margin-bottom: 0;
	display: block;
	text-decoration: none;
	color: #000000;
	}

.schedule .schedule-item .schedule-item-toggle .time .icon {
	margin-right: 8px;
	vertical-align: middle;
	color: #babfcc;
	}

.schedule .schedule-item .schedule-item-toggle .title {
	position: relative;
	margin: 0;
	padding: 0 35px 11px 0;
	border-bottom: 1px solid #eff1f5;
	}

.schedule .schedule-item .schedule-item-toggle .title .icon {
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease,-moz-transform 0.3s ease,-o-transform 0.3s ease,transform 0.3s ease;
	position: absolute;
	right: 10px;
	bottom: 11px;
	font-size: 13px;
	color: #51545b;
	}

.schedule .schedule-item .schedule-item-body {
	margin-top: 0;
	/*font-size: @font-size-small;*/
	}

.schedule .schedule-item .schedule-item-body .speaker-wrapper {
	margin-bottom: 0;
	}

.schedule .schedule-item .schedule-item-body > article,
.schedule .schedule-item .schedule-item-body > div {
	margin: 0;
	padding: 11px 0;
	}

@media (max-width: 991px) {
  .schedule .tab-content .img-responsive {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .schedule .tab-content {
    border: none;
  }
  .schedule .tab-content-schedule {
    padding: 35px 20px;
  }
  .schedule .tab-content-schedule:before {
    display: none;
  }
  .schedule .tab-content-schedule .schedule-item {
    margin-bottom: 30px;
    padding-left: 70px;
  }

.nav.nav-schedule {
	border: 1px solid #eee;
	}

}
@media (max-width: 480px) {
  .schedule .tab-content-schedule {
    padding: 35px 0;
  }
  .schedule .tab-content-schedule .schedule-item {
    margin-bottom: 30px;
    padding-left: 0;
  }
  .schedule .tab-content-schedule .schedule-item .lecture-icon-wrapper {
   	display: none;
  }
  .schedule .tab-content-schedule .schedule-item .schedule-item-toggle .title {
    padding-left: 40px;
  }
  .speaker-photo-wrapper {
    display: none;
  }
  .schedule.schedule-light .tab-content {
    padding: 10px 5px 20px;
  }
  .schedule.schedule-light .schedule-item .schedule-item-toggle .lecture-icon-wrapper {
    top: 32px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 28px;
  }
  .schedule.schedule-light .schedule-item .schedule-item-toggle .title {
    padding-left: 35px;
  }
}
	
.collapse {
	display: none;
	}

.collapse.in {
	display: block;
	}

tr.collapse.in {
	display: table-row;
	}

tbody.collapse.in {
	display: table-row-group;
	}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	     -o-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	     -o-transition-duration: .35s;
	        transition-duration: .35s;
	-webkit-transition-property: height, visibility;
	     -o-transition-property: height, visibility;
	        transition-property: height, visibility;
	}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	}

.nav > li {
	position: relative;
	display: block;
	}

.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #eee;
	}

.nav > li.disabled > a {
	color: #777;
	}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
	}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background-color: #eee;
	border-color: #337ab7;
	}

.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
	}

.nav > li > a > img {
	max-width: none;
	}

.nav-tabs {
	border-bottom: 1px solid #ddd;
	}

.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
	}

.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	}

.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
	}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	}

.tab-content > .tab-pane {
	display: none;
	}
.tab-content > .active {
	display: block;
	}
.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	}
	

	
/* Blog Posts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.blog .module.page-header {
	margin: 0;
	}
	
.blog .module.post-hero {
	padding-top: 0;
	}
	
.blog .post-title {
	margin-bottom: 3rem;
	}
	
.post-single cite {
	background: #e8ecf0;
	padding: 1rem;
	display: inline-block;
	float: right;
	font-family: 'Oswald', sans-serif;
	color: #f14e23;
	position: relative;
	top: -19px;
	margin-left: 15px;
	}
	
.comments li {
	list-style: none;
	margin: 2rem 0;
	padding: 0;
	}
	
/* Blog Posts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.shop li {
	list-style: none;
	margin: 0 0 5rem 0;
	padding: 0;
	}
	
.product-type {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: .7rem;
	color: #bfc0c4;
	}
	
.categories-list {
	border-top: 1px solid #ebebeb;
	}
	
.categories-list li {
	position: relative;
	list-style: none;
	margin: 1.2rem 0 1.2rem 0;
	padding: 1.2rem 0 1.2rem 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 2px;
	border-bottom: 1px solid #ebebeb;
	}
	
.categories-list li:first-child {
	margin-top: 0;
	}
	
.categories-list li a {
	color: #222;
	}
	
.categories-list li a:hover {
	color: #006c83;
	text-decoration: none;
	}
	
.categories-list li a i {
	color: #a9a8a8;
	padding-right: 5px;
	}
	
.categories-list li a .cat-count {
	color: #a9a8a8;
	float: right;
	}
	
/* Pagination
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pagination {
	font-family: 'Oswald', sans-serif;
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #222;
	font-size: 1.4rem;
	font-weight: 600;
	}
	
.pagination ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	}
	
.pagination ul li a {
	display: block;
	color: #222;
	padding: .5rem 1rem;
	}
	
.pagination ul li,
.pagination a.previous,
.pagination a.next {
	display: inline-block;
	margin: 0 1rem 0 1rem;
	}
	
.pagination a.previous,
.pagination a.next {
	padding: 1rem;
	border: 1px solid #ebebeb;
	}
	
.pagination ul li a.current {
	background: #006C83;
	color: #fff;
	border: 1px solid #006C83;
	}
	
	@media (max-width: 960px) {
		.pagination .columns {
			margin: 0 0 3rem 0;
			}
			
		.pagination ul {
			text-align: left;
			}
		}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */	

footer {
	background: #231f20;
	color: #fff;
	padding: 90px 0;
	}
	
footer small {
	display: block;
	color: #838383;
	font-style: italic;
	}
	
footer .social {
	overflow: hidden;
	margin: 5px 0 10px 0;
	}
	
footer .social li {
	float: left;
	width: 30px;
	display: inline-block;
	margin: 0 6px 0 0;
	}
	
footer .social li a {
	color: #fff;
	}
	
footer .social li a:hover {
	opacity: 0.8;
	}
	
footer .button {
	margin-top: 5px;
	}
	
footer .button:hover {
	opacity: 0.8;
	}
